* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

.btn {
  background: #fff;
  border: 0.75px solid $color-secondary;
  box-sizing: border-box;
  font-family: $font-base;
  font-weight: lighter;
  font-size: 1.5rem;
  padding: 13px;
  margin: 11px 7px;
}

.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.container {
  margin: 0;
}