* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

h1 {
  font-size: 38px;
  line-height: 55px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.btn {
  width: 310px;
  height: 120px;
  background: #fff;
  border: 0.75px solid $color-secondary;
  box-sizing: border-box;
  font-weight: lighter;
  font-size: 2rem;
  padding: 13px;
  margin: 11px;
}

.row {
  margin: 0;
}