* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}

//h1 {
//  font-size: 38px;
//  line-height: 55px;
//}
//
//h3 {
//  font-size: 18px;
//}
//
//p {
//  font-size: 16px;
//  line-height: 30px;
//  font-weight: 300;
//}

.btn {
  background: #fff;
  border: 0.75px solid $color-secondary;
  box-sizing: border-box;
  font-family: $font-base;
  font-weight: lighter;
  font-size: 1.5rem;
  padding: 13px;
  margin: 11px 7px;
}

.row {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

//.row > * {
//  margin: 0;
//  //flex-basis: 1300px;
//  flex-basis: calc(calc(35em - 100vw) * 999);
//  flex-grow: 1;
//}

.container {
  margin: 0;
}