.footerContainer {
  //height: 100vh;
}

.footerContactForm{
  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    align-items: flex-end;
    padding-right: 70px;
  }
}
.footerWrapper {
  display: flex;
  //align-items: flex-end;
  flex-direction: column;
  flex-basis: calc(calc(35em - 100vw) * 999);
  flex-grow: 1;
  position: relative;
  &::after {
    content: "";
    background-image: url("../../assets/Background-Contact-Form.jpg");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    @media (max-width: 520px) {
      background-image: none;
    }
  }
}
@media (max-width: 1500px) {
  .footerContactForm {
    padding-right: 70px;
  }
}
@media (max-width: 1100px) {
  .footerContactForm {
    padding-right: 40px;
  }
}

@media (max-width: 700px) {
  .footerContactForm {
    padding-right: 0;
  }
}

#sectionContact > div > div.footerContactForm > div > div {
  @media (min-width: 600px) {
      margin-right: 70px;
    }
}

.form-group > label {
  padding-bottom: 8px;
}

Form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  @media (max-width: 600px) {
    margin: 0 30px;
  }
  @media (max-width: 690px) {
    margin-right: 20px;
  }
}

.btnForm {
  font-size: 1rem;
  width: 25%;
}

#sectionContact > div > div.footerContactForm > form > button {
  @media (max-width: 700px) {
    margin-top: 0;
  }
}

.footer {
  display: flex;

}
.formTextarea {
  width: 100%;
}


.has-error {
  border-bottom: 2px solid red;
}

.formMsg {
  color: #3C3C3C;
  font-size: 12px;
  padding: 5px 0 0 10px;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}

.footer.row {
  margin-top: 10px;
  align-items: center;
  .col {
    text-align: end;
  }
  img {
    padding: 5px;
  }
}