.footerContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-image: url("../../assets/Background-Contact-Form.jpg");
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.has-error {
  border-bottom: 2px solid red;
}

.formMsg {
  color: #3C3C3C;
  font-size: 12px;
  padding: 5px 0 0 10px;
}

.invalid {
  color: red;
}

.valid {
  color: green;
}


