.footerContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  background-image: url("../../assets/Background-Contact-Form.jpg");
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}