.sectionHelp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(calc(35em - 100vw) * 999);
  //height: 100vh;
}
.sectionHelpBtns {
  display: flex;
  justify-content: center;
  @media (max-width: 570px) {
    flex-direction: column;
  }
}
.howWeBtn {
  width: 160px;
  text-align: center;
  font-size: 18px;
  padding: 8px;
  border-color: white;

  &:hover {
    border: 1px solid $color-secondary;
    color: $color-secondary;
    background-color: white;
  }
}

.helpContainer {
  margin: 70px auto;
  p {
    line-height: 1.5rem;
  }
}

.helpRowTitle {
  font-size: 1.2rem;
}

.helpDetailsRow {
  font-family: $font-alt;
  margin: 20px auto;
  display: flex;
}
.helpData {
  position: relative;
  &:not(:last-child):after {
    content: "";
    position: absolute;
    height: 1px;
    background: #8c8c8c;
    width: 97%;
    left: 16px;
    top: 113%;
  }
}
.helpDetails {
  width: 80vw;
  h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}
.helpThings {
  //text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.pagination {
  justify-content: center;
  .page-link {
    cursor: pointer;
  }

}
